################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AtletaAsdericel/FileContentIndex
/.vs/ASDERICEL
/AtletaAsdericel/obj/Release/net7.0/AtletaAsdericel.AssemblyInfo.cs
/AtletaAsdericel/obj/Release/net7.0/AtletaAsdericel.AssemblyInfoInputs.cache
/AtletaAsdericel/obj/Release/net7.0/AtletaAsdericel.GeneratedMSBuildEditorConfig.editorconfig
/AtletaAsdericel/obj/Release/net7.0/AtletaAsdericel.GlobalUsings.g.cs
/AtletaAsdericel/obj/Release/net7.0/AtletaAsdericel.RazorAssemblyInfo.cache
/AtletaAsdericel/obj/Release/net7.0/AtletaAsdericel.RazorAssemblyInfo.cs
