@model List<Modalidade>

@{
    ViewData["Title"] = "Lista de Modalidades";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>@ViewData["Title"]</h2>
    </div>
    <div>
        <a asp-action="create" class=" btn  btn-primary mb-3 btn-user btn-block">
            Novo
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categorias</th>
            <th>Gêneros</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var modalidade in Model)
        {
            <tr>
                <td>@modalidade.Nome</td>
                <td>
                    @{
                        var modalidades = string.Join(", ", modalidade.ModalidadeCategorias.Select(c => c.Categoria.Nome));
                    }
                    @modalidades
                </td>
                <td>
                    @{
                        var generos = string.Join(", ", modalidade.ModalidadeSexos.Select(c => c.Sexo.Nome));
                    }
                    @generos
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = modalidade.Id })" class="btn btn-success" title="Editar">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = modalidade.Id })" class="btn btn-danger btn-fab btn-round" title="Excluir">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
