@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>@ViewData["Title"]</h2>
    </div>
    <div >
        <a  asp-action="Registrar" class=" btn  btn-primary mb-3 btn-user btn-block">
        Novo
    </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Perfil</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var atleta in Model)
        {
            <tr>
                <td>@atleta.Nome</td>
                <td>@atleta.Perfil</td>
               
            </tr>
        }
    </tbody>
</table>
