@model AtletaAsdericel.ViewModels.CriarUsuarioViewModel

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Criar conta</h1>
                        </div>
                        <form class="user" asp-action="Registrar" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" asp-for="Nome"
                                           placeholder="Nome">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" asp-for="Email"
                                           placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select name="perfil" asp-for="Perfil" class="form-control rounded-pill">
                                        <option value="Admin">Administrador</option>
                                        <option value="User">Usuário</option>
                                    </select>
                                </div>

@*                                      <div class="col-md-3">
            <select asp-for="EstadoCivil" type="text" asp-items="Html.GetEnumSelectList<EStadoCivil>()" class="form-control rounded-pill" required placeholder="Selecione">
                <option value="">Selecione o estado civil ...</option>
            </select>
        </div>
 *@
                                <div class="col-sm-6 mb-3 mb-sm-0">

                                <div class="form-group">
                                    <div class="input-group">
                                            <input type="password" class="form-control" id="Password" asp-for="Senha" name="Senha" placeholder="Digite sua senha" />
                                        <span class="input-group-text" id="togglePassword">
                                            <i class="fa fa-eye"></i> <!-- Ícone de olho -->
                                        </span>
                                    </div>
                                        <small class="form-text text-muted">
                                            A senha deve ter no mínimo 6 caracteres.
                                        </small>
                                    </div>
                                </div>


                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Registrar
                            </button>
                            <hr>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>
<script>
        document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('Password');
        const icon = this.querySelector('i');

        // Alternar entre o tipo de senha e texto
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash'); // Mudar o ícone para olho fechado
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye'); // Mudar o ícone para olho aberto
        }
    });

</script>