@model AtletaAsdericel.ViewModels.GeralCreateViewModel
@using AtletaAsdericel.Models.Enum

@{
    ViewBag.Title = "Create";
}

<h2>Cadastro Asdericel Geral</h2>
<hr />

<form class="user" asp-action="Create">

    <div class="form-group row mt-4">
        <div class="form-group row">
            <div class="col-sm-3">
                <input type="text" asp-for=Nome class="form-control form-control-user" placeholder="Nome">
            </div>
            <div class="col-sm-3">
                <input type="text" asp-for=NomeSocial class="form-control form-control-user" placeholder="Nome Social">
            </div>
            <div class="col-sm-3 ">
                <input type="text" asp-for=Apelido class="form-control form-control-user" placeholder="Apelido">
            </div>
            <div class="col-sm-3">
                <input type="text" asp-for="DataNascimento" id="dt" class="form-control form-control-user date" placeholder="Data Nascimento">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <select asp-for="Sexo" type="text" asp-items="Html.GetEnumSelectList<ESexo>()" class="form-control rounded-pill" placeholder="Selecione">
                <option value="">Selecione o sexo ...</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=CPF class="form-control form-control-user cpf" placeholder="Cpf">
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Passaporte class="form-control form-control-user cpf" placeholder="Passaporte">
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=NumeroSus class="form-control form-control-user cpf" placeholder="NumeroSus">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <select asp-for="TipoSanguineo" type="text" asp-items="Html.GetEnumSelectList<ETipoSanguineo>()" class="form-control rounded-pill" placeholder="Selecione">
                <option value="">Selecione o Tipo Sanguíneo ...</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=RG class="form-control form-control-user cpf" placeholder="RG">
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=OrgaoEmissor class="form-control form-control-user cpf" placeholder="Orgão Emissor">
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=DataExpedicao class="form-control form-control-user cpf" placeholder="Data Expedição">
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=TipoDocumento class="form-control form-control-user cpf" placeholder="Tipo de Documento">
        </div>


    </div>
    <label>Dados endereço</label>
    <div class="form-group row">
        <div class="col-sm-3">
            <input type="text" asp-for="Endereco.Cep" class="form-control form-control-user" placeholder="Cep">
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Endereco.Pais class="form-control form-control-user" placeholder="Pais">
        </div>
        <div class="col-sm-3">
            <select asp-for="Endereco.Estado" asp-items="new SelectList(Model.Estados, nameof(Estado.Id), nameof(Estado.Nome))" class="form-control rounded-pill" placeholder="Selecione">
                <option value="">Selecione o estado ...</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select asp-for="Endereco.Cidade" asp-items="new SelectList(Model.Cidades, nameof(Cidade.Id), nameof(Cidade.Nome))" class="form-control rounded-pill" placeholder="Selecione">
                <option value="">Selecione a cidade ...</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 ">
            <input type="text" asp-for=Endereco.Bairro class="form-control form-control-user" placeholder="Bairro">
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Endereco.Numero class="form-control form-control-user" placeholder="Numero">
        </div>
    </div>


    <div class="form-group row">
        <div class="form-check">
            <div class="form-check mb-2">
                <input type="checkbox" asp-for=IsResponsavel class="form-check-input">
                <label class="form-check-label" for="flexCheckDefault">
                    Sou meu responsável
                </label>
            </div>
        </div>
        <div class="col-sm-4 ">
            <select asp-for="ResponsavelId" type="text" asp-items="new SelectList(Model.Responsaveis, nameof(Responsavel.Id), nameof(Responsavel.Nome))" class="form-control rounded-pill" placeholder="Selecione">
                <option value="">Selecione o responsável  ...</option>
            </select>
        </div>
        <div class="col-sm-4 ">
            <button type="button" class="btn-custom-orange " data-toggle="modal" id="abrirmodal" data-target="#exampleModal">
                + Novo Responsável
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dados do responsável</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-6  ">
                            <input type="text" asp-for=Responsavel.Nome class="form-control form-control-user" placeholder="Nome">
                        </div>
                        <div class="col-sm-6  ">
                            <input type="text" asp-for=Responsavel.Parentesco class="form-control form-control-user" placeholder="Parentesco">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" asp-for=Responsavel.RG class="form-control form-control-user" placeholder="RG">
                        </div>
                        <div class="col-sm-6 ">
                            <input type="text" asp-for=Responsavel.CPF class="form-control form-control-user" placeholder="CPF">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" asp-for=Responsavel.Telefone class="form-control form-control-user" placeholder="Telefone">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" asp-for=Responsavel.Email class="form-control form-control-user cpf" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="fecharmodal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="fecharmodal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block ">
        Gravar
    </button>
</form>

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
<script>
    $(document).ready(function () {
        $('#abrirmodal').click(function () {
            $("#exampleModal").modal('show');
        });

        // Add this function to close the modal
        $('#fecharmodal').click(function () {
            $("#exampleModal").modal('hide');
        });
    });


</script>