@{
    ViewData["Title"] = "Home Page";
}
<style>
    .background-div {
        width: 100%;
        height: 100vh; /* 100% da altura da tela */
        background-size: cover; /* Faz a imagem cobrir toda a div */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita repetição */
    }

    h1{
        color: #2E338C;
        font-weight: 900;
    }

</style>
<div class="text-center">
    <h1>ASDERICEL</h1>
    <h6>CLUBE DE CAMPEÕES</h6>

    <div class="background-div" style="background-image: url('/images/campeao.jpeg');">
    </div>
</div>
