@{
    ViewData["Title"] = "Home Page";
}
<style>
    .background-div {
        background-image: url('/images/campeao.jpeg');
        background-size: cover;
        background-position: center;
        height: 80vh;
        
    }
</style>
<div class="text-center">
    <h1 class="display-4">Sejam-Bem vindo</h1>
    <p>ASDERICEL</p>

    <div class="background-div">

    </div>
</div>
