@model AtletaAsdericel.ViewModels.ProvasCreateViewModel
@using AtletaAsdericel.Models.Enum

@{
    ViewBag.Title = "Create";
}
<h2>Cadastrar Provas</h2>
<hr />
<form class="user " asp-action="create" method="post">
    <div class="form-group row mt-4 ">
        <div class="form-group row">
            <div class="col-sm-6 ">
                <input type="text" asp-for=Nome class="form-control form-control-user" placeholder="Nome">
            </div>
            <div class="col-sm-6">
                <select asp-for="TipoProva" multiple type="text" asp-items="Html.GetEnumSelectList<ETipoProva>()" class="form-control rounded-pill" placeholder="Selecione">
                    <option value="">Selecione a categoria ...</option>
                </select>
            </div>
            <div class="col-md-6">
                <select multiple="multiple" asp-for="ModalidadeId" type="text" asp-items="ViewBag.Modalidades" class="form-control rounded-pill" placeholder="Selecione">
                    <option value="">Selecione a modalidade ...</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block ">
        Gravar
    </button>
</form>

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
