@model AtletaAsdericel.Models.Associado
@using AtletaAsdericel.Models.Enum
@using AtletaAsdericel.Helpers

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Asdericel Associado Geral</h2>
<hr />

<form class="user" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group row mt-4">
            <div class="col-sm-3">
                <input type="text" asp-for=Nome class="form-control form-control-user" placeholder="Nome" required>
            </div>
            <div class="col-sm-3">
                <input type="text" asp-for=NomeSocial class="form-control form-control-user" placeholder="Nome Social">
            </div>
            <div class="col-md-3 ">
                <input type="text" asp-for=Apelido class="form-control form-control-user" placeholder="Apelido">
            </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Mae class="form-control form-control-user" placeholder="Nome da Mãe" required>
        </div>
          
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <select asp-for="Sexo" required type="text" asp-items="Html.GetEnumSelectList<ESexo>()" class="form-control rounded-pill" placeholder="Selecione">
                <option value="">Selecione o sexo ...</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Pai class="form-control form-control-user" placeholder="Nome do Pai" >
        </div>
        <div class="col-md-3">
      <input type="text" asp-for="DataNascimento" class="form-control form-control-user date" required placeholder="Data de Nascimento"
           value="@(Model.DataNascimento != DateTime.MinValue ? Model.DataNascimento.ToString("dd/MM/yyyy") : string.Empty)">        </div>
        <div class="col-sm-3">
            <input type="text" required asp-for=CPF class="form-control form-control-user cpf" placeholder="Cpf">
        </div>
        <div class="col-sm-3">
            <input type="text"  asp-for=Passaporte class="form-control form-control-user " placeholder="Passaporte">
        </div>
     
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <select asp-for="TipoSanguineo" type="text" asp-items="Html.GetEnumSelectList<ETipoSanguineo>()" class="form-control rounded-pill" placeholder="Selecione" required>
                <option value="">Selecione o Tipo Sanguíneo ...</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=NumeroSUS class="form-control form-control-user " placeholder="Número do SUS">
        </div>
        <div class="col-sm-3">
            <input type="text" required asp-for=RG class="form-control form-control-user " placeholder="RG" >
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=OrgaoEmissor class="form-control form-control-user " placeholder="Orgão Emissor" required>
        </div>
        <div class="col-sm-3">
         <input type="text" asp-for="DataExpedicao" class="form-control form-control-user dtExpedicao" required placeholder="Data de Expedição"
           value="@(Model.DataExpedicao != DateTime.MinValue ? Model.DataExpedicao.ToString("dd/MM/yyyy") : string.Empty)">        </div>
    </div>
    <label>Dados endereço</label>
    <div class="form-group row">
        <div class="col-sm-3">
            <input type="text" asp-for="Endereco.Cep" class="form-control form-control-user" required placeholder="Cep">
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Endereco.Logradouro class="form-control form-control-user" placeholder="Rua" required>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Endereco.Bairro class="form-control form-control-user" placeholder="Bairro" required>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Endereco.Numero class="form-control form-control-user" placeholder="Número" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <input type="text" asp-for=Endereco.Localidade class="form-control form-control-user" placeholder="Cidade" required>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Endereco.Uf class="form-control form-control-user" placeholder="Estado" required>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for=Endereco.Pais class="form-control form-control-user" placeholder="País" required>
        </div>
        @*     <div class="col-sm-3">
        <select asp-for="Endereco.Localidade" asp-items="new SelectList(Model.Cidades, nameof(Cidade.Id), nameof(Cidade.Nome))" class="form-control rounded-pill" placeholder="Selecione">
        <option value="">Selecione a cidade ...</option>
        </select>
        <div class="col-sm-3">
        <select asp-for="Endereco.Uf" asp-items="new SelectList(Model.Estados, nameof(Estado.Id), nameof(Estado.Nome))" class="form-control rounded-pill" placeholder="Selecione">
        <option value="">Selecione o estado ...</option>
        </select>
        </div>
        </div>*@
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block ">
        Gravar
    </button>
</form>

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
<script>
        $(document).ready(function () {
    $('#Endereco_Cep').on('input', function () {
        $(this).val($(this).val().replace(/\D/g, '')); // Remove todos os caracteres não numéricos
    });
});

    $(document).ready(function () {
        $('#abrirmodal').click(function () {
            $("#exampleModal").modal('show');
        });

        // Add this function to close the modal
        $('#fecharmodal').click(function () {
            $("#exampleModal").modal('hide');
        });

        $('#isResponsavel').change(function () {
            // Se estiver marcado, desabilita o select, caso contrário, habilita
            $('#responsavelSelect').prop('disabled', $(this).is(':checked'));
        });

        // Desabilita o select se o checkbox estiver inicialmente marcado
        if ($('#isResponsavel').is(':checked')) {
            $('#responsavelSelect').prop('disabled', true);
        }
    });
    $('#Endereco_Cep').on('blur', function () {
        // Pega o valor do campo de CEP
        const cep = this.value;

        $.getJSON(`https://viacep.com.br/ws/${cep}/json/`, function (data) {
            // Atualiza os campos de endereço se a busca retornar com sucesso
            if (!data.erro) {
                $('#Endereco_Bairro').val(data.bairro);
                $('#Endereco_Logradouro').val(data.logradouro);
                $('#Endereco_Localidade').val(data.localidade);
                $('#Endereco_Uf').val(data.uf);
            } else {
                alert("Endereco não encontrado")
                // Limpa os campos de endereço se o CEP não for encontrado
                $('#Endereco_Bairro').val('');
                $('#Endereco_Logradouro').val('');
                $('#Endereco_Localidade').val('');
                $('#Endereco_Estado').val('');
            }
        });
    });




</script>